### Look at what community is saying about iphone releases

In [28]:
import numpy as np
import pandas as pd
import re
import warnings
import textblob
from textblob import TextBlob 
#Visualisation
import matplotlib.pyplot as plt
import matplotlib
import seaborn as sns
from IPython.display import display
from wordcloud import WordCloud, STOPWORDS

#nltk
from nltk.stem import WordNetLemmatizer
from nltk.sentiment.vader import SentimentIntensityAnalyzer
from nltk.sentiment.util import *
from nltk import tokenize

matplotlib.style.use('ggplot')
pd.options.mode.chained_assignment = None
warnings.filterwarnings("ignore")

%matplotlib inline

In [29]:
tweet = pd.read_csv('../../Data/iphone_tweets_2015.csv', encoding = "ISO-8859-1")

In [30]:
tweet.head()

,user,date,retweets,favorites,text,geo,mentions,hashtags,id1,permalink
0,user,9/30/2015 5:15,0,0,Win an # Apple Watch or # iPhone 6s from Macph...,NaN,NaN,# #,6.490070e+17,https://twitter.com/agence/status/649007044025...
1,user,9/30/2015 5:04,0,1,Realifex is Your Life Tracker. Free Yourself f...,NaN,NaN,# # # #,6.490040e+17,https://twitter.com/Realifex/status/6490043832...
2,user,9/30/2015 5:02,0,0,Choose from tons of cool # iPhone cases at htt...,NaN,NaN,#,6.490040e+17,https://twitter.com/mnichols115/status/6490038...
3,user,9/30/2015 4:58,0,0,I've received 4917 $ from my friends in associ...,NaN,NaN,# # #,6.490030e+17,https://twitter.com/Nasser0071Saad/status/6490...
4,user,9/30/2015 4:53,0,1,I'm loving the size of my new # iPhone 6s Plus...,NaN,NaN,# #,6.490020e+17,https://twitter.com/melissa_agnes/status/64900...

In [31]:
tweet['text'] = tweet['text'].apply(lambda x: re.sub('[!@#$:).;,?&]', '', x.lower()))
tweet['text'] = tweet['text'].apply(lambda x: re.sub('  ', ' ', x))

In [32]:
tweetContent15 = tweet.filter(['text','date','retweets','favorites'], axis=1)

In [33]:
tweetContent15[['polarity', 'subjectivity']] = tweetContent15['text'].apply(lambda Text: pd.Series(TextBlob(Text).sentiment))

In [34]:
tweetContent15.head()

,text,date,retweets,favorites,polarity,subjectivity
0,win an apple watch or iphone 6s from macphun a...,9/30/2015 5:15,0,0,0.800000,0.400000
1,realifex is your life tracker free yourself fr...,9/30/2015 5:04,0,1,0.400000,0.800000
2,choose from tons of cool iphone cases at http/...,9/30/2015 5:02,0,0,0.350000,0.650000
3,i've received 4917 from my friends in associat...,9/30/2015 4:58,0,0,0.000000,0.000000
4,i'm loving the size of my new iphone 6s plus r...,9/30/2015 4:53,0,1,0.307273,0.520909

In [35]:
tweet = pd.read_csv('../../Data/iphone_tweets_2016.csv', encoding = "ISO-8859-1")

In [36]:
tweet.head()

,user,date,retweets,favorites,text,geo,mentions,hashtags,id1,permalink
0,user,9/30/2016 5:21,0,0,# iphone # recovery iPhone 7 Photo Recovery: H...,NaN,NaN,# #,7.816420e+17,https://twitter.com/iSkysoft/status/7816424764...
1,user,9/30/2016 5:15,0,0,Why and how I switched from # Windows to # MAC...,NaN,NaN,# # # # # # # #,7.816410e+17,https://twitter.com/CGS_Computers/status/78164...
2,user,9/30/2016 5:13,0,0,# CarlZeiss lens for # iphone # smartphone & #...,NaN,NaN,# # # # # #,7.816400e+17,https://twitter.com/RyanSteinolfson/status/781...
3,user,9/30/2016 4:50,0,0,I've completed Bijou from Goa quest in Airport...,NaN,NaN,# #,7.816350e+17,https://twitter.com/eddieddason/status/7816346...
4,user,9/30/2016 4:48,0,0,Top free # iPhone Business # Apps #18: Sidelin...,NaN,NaN,NaN,NaN,NaN

In [37]:
tweet['text'] = tweet['text'].apply(lambda x: re.sub('[!@#$:).;,?&]', '', x.lower()))
tweet['text'] = tweet['text'].apply(lambda x: re.sub('  ', ' ', x))

In [38]:
tweetContent16 = tweet.filter(['text','date','retweets','favorites'], axis=1)

In [39]:
tweetContent16[['polarity', 'subjectivity']] = tweetContent16['text'].apply(lambda Text: pd.Series(TextBlob(Text).sentiment))

In [40]:
tweetContent16.head()

,text,date,retweets,favorites,polarity,subjectivity
0,iphone recovery iphone 7 photo recovery how t...,9/30/2016 5:21,0,0,0.0,0.000000
1,why and how i switched from windows to mac tec...,9/30/2016 5:15,0,0,0.0,0.000000
2,carlzeiss lens for iphone smartphone livestr...,9/30/2016 5:13,0,0,0.0,0.000000
3,i've completed bijou from goa quest in airport...,9/30/2016 4:50,0,0,0.0,0.000000
4,top free iphone business apps 18 sideline - 2n...,9/30/2016 4:48,0,0,0.3,0.433333

In [41]:
tweet = pd.read_csv('../../Data/iphone_tweets_2017.csv', encoding = "ISO-8859-1")

In [42]:
tweet.head()

,user,date,retweets,favorites,text,geo,mentions,hashtags,id1,permalink
0,user,9/30/2017 5:20,0,0,Converting from Android to iPhone slightly tou...,NaN,NaN,# # # #,9.139140e+17,https://twitter.com/techvideos_xyz/status/9139...
1,user,9/30/2017 5:14,0,0,Frugi - Personal Finance Manager zu verfolgen ...,NaN,NaN,NaN,NaN,NaN
2,user,9/30/2017 5:07,0,0,The new iphone update is preventing me from sc...,NaN,NaN,# # #,9.139110e+17,https://twitter.com/_Shaz_IA/status/9139107007...
3,user,9/30/2017 5:01,0,0,# iPhone # iPad # AppStore Pricedrop Frugi - P...,NaN,NaN,# # #,9.139090e+17,https://twitter.com/AppTicker_COM/status/91390...
4,user,9/30/2017 4:52,0,0,"Photostein"" from 5",NaN,NaN,NaN,NaN,NaN

In [43]:
tweet['text'] = tweet['text'].apply(lambda x: re.sub('[!@#$:).;,?&]', '', x.lower()))
tweet['text'] = tweet['text'].apply(lambda x: re.sub('  ', ' ', x))

In [44]:
tweetContent17 = tweet.filter(['text','date','retweets','favorites'], axis=1)

In [45]:
tweetContent17[['polarity', 'subjectivity']] = tweetContent17['text'].apply(lambda Text: pd.Series(TextBlob(Text).sentiment))

In [46]:
tweetContent17.head()

,text,date,retweets,favorites,polarity,subjectivity
0,converting from android to iphone slightly tou...,9/30/2017 5:20,0,0,-0.166667,0.166667
1,frugi - personal finance manager zu verfolgen ...,9/30/2017 5:14,0,0,0.000000,0.300000
2,the new iphone update is preventing me from sc...,9/30/2017 5:07,0,0,0.136364,0.454545
3,iphone ipad appstore pricedrop frugi - person...,9/30/2017 5:01,0,0,0.000000,0.300000
4,"photostein"" from 5",9/30/2017 4:52,0,0,0.000000,0.000000

In [47]:
tweet = pd.read_csv('../../Data/iphone_tweets_2018.csv', encoding = "ISO-8859-1")

In [48]:
tweet.head()

,user,date,retweets,favorites,text,geo,mentions,hashtags,id1,permalink,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13,Unnamed: 14,Unnamed: 15
0,user,9/30/2018 4:50,0,0,@ AirCanada - is there a way to export my flig...,NaN,@ @,# # # # # # # # #,1.046180e+18,https://twitter.com/hanabanane6/status/1046177...,NaN,NaN,NaN,NaN,NaN,NaN
1,user,9/30/2018 4:41,0,0,# TMobile # fail pt1: I have a phone from 2012,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,user,9/30/2018 4:30,1,2,56% Off Rose Gold iPhone Xs Max Folio Case! ON...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,user,9/30/2018 4:02,0,0,# apple # iphones experiencing issues all up f...,NaN,NaN,# # #,1.046170e+18,https://twitter.com/applefailss/status/1046165...,NaN,NaN,NaN,NaN,NaN,NaN
4,user,9/30/2018 2:52,0,0,Here's a big new Legendary card from Hearthsto...,NaN,NaN,#,1.046150e+18,https://twitter.com/GameNewsToday83/status/104...,NaN,NaN,NaN,NaN,NaN,NaN

In [49]:
tweet['text'] = tweet['text'].apply(lambda x: re.sub('[!@#$:).;,?&]', '', x.lower()))
tweet['text'] = tweet['text'].apply(lambda x: re.sub('  ', ' ', x))

In [50]:
tweetContent18 = tweet.filter(['text','date','retweets','favorites'], axis=1)

In [51]:
tweetContent18[['polarity', 'subjectivity']] = tweetContent18['text'].apply(lambda Text: pd.Series(TextBlob(Text).sentiment))

In [52]:
tweetContent18.head()

,text,date,retweets,favorites,polarity,subjectivity
0,aircanada - is there a way to export my fligh...,9/30/2018 4:50,0,0,0.000000,0.000000
1,tmobile fail pt1 i have a phone from 2012,9/30/2018 4:41,0,0,-0.500000,0.300000
2,56% off rose gold iphone xs max folio case onl...,9/30/2018 4:30,1,2,0.233333,0.766667
3,apple iphones experiencing issues all up from...,9/30/2018 4:02,0,0,0.000000,0.000000
4,here's a big new legendary card from hearthsto...,9/30/2018 2:52,0,0,0.284091,0.388636

In [53]:
tweetContent = pd.concat([tweetContent15,tweetContent16,tweetContent17,tweetContent18])

In [54]:
tweetContent.to_excel("twitterfinal.xlsx")